<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <i class="fa-regular fa-bars" style="vertical-align: top;"></i>
    </button>
    <span>Blog Admin</span>
    <span class="spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

 -->

<main class="d-flex flexnowrap">
  <app-sidenav></app-sidenav>

  <div id="main-container">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1>Admin</h1>
          </div>
        </div>
      </div>
  </div>
</main>
