$paragraph-margin-bottom:   1rem !default;
$font-size-base: 1rem;

$font-family-sans-serif:      'Ubuntu', sans-serif;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-headings:        'Montserrat', sans-serif;

$font-family-base: $font-family-sans-serif !default;
$headings-font-family: $font-family-headings !default;

$h1-font-size:                $font-size-base * 3 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

// $headings-margin-bottom:      $spacer * .5 !default;
// $headings-font-style:         null !default;
// $headings-font-weight:        500 !default;
// $headings-line-height:        1.2 !default;

// $small-font-size:             .8em !default;

// $text-muted:                  $gray-600 !default;

// $initialism-font-size:        $small-font-size !default;

// $blockquote-margin-y:         $spacer !default;
// $blockquote-font-size:        $font-size-base * 1.25 !default;
// $blockquote-footer-color:     $gray-600 !default;
// $blockquote-footer-font-size: $small-font-size !default;