.underlined {
    background-image: linear-gradient(to right, $color-secondary 0%, $color-secondary 100%);
    background-size: 100% 35%;
    background-repeat: repeat-x;
    background-position: 0 85%;
}


.page-content {
    flex: 1 0 auto;

    .container {
        flex: 1 0 auto;
    }
}