#home {
    position: relative;
    & > svg {
        // svg di sfondo della homapage
        position: absolute;
        z-index: -1;
        fill: #565f63;
    }

    #landing {
        text-align: center;
        display: grid;
        gap: 1rem;

        img.home-logo {
            width: clamp(200px, 100%, 350px);
        }

        #home-title {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h1 {
                font-size: 5rem;
            }
        }

        #home-motto {
        }

        .home-article {
            .card-img {
                width: 100%;
                overflow: hidden;
                border-radius: $post-border-radius;
                aspect-ratio: 16/9;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
            .card-body {
                .summary {
                    font-size: 0.8rem;
                }
            }
        }

        @include media-breakpoint-up(md) {
            grid-template-columns: minmax(100px, 1fr) minmax(100px, 1.5fr);

            #home-title {
                h1 {
                    font-size: 5rem;
                }
                grid-row-start: 1;
                grid-column: 2;
            }

            #home-motto {
                // padding-top: 5rem;
                grid-row: 2 / 3;
                grid-column: 2;
            }

            .home-article {
                // grid-row: span 2;
                .card-img {
                    aspect-ratio: 4/3;
                }
            }
        }
        @include media-breakpoint-up(lg) {
            grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1.5fr);

            #home-title {
                h1 {
                    font-size: 5rem;
                }
                grid-row-start: 1;
                grid-column: 2 / span 2;
            }

            #home-motto {
                padding-top: 3rem;
                grid-row: 2 / 5;
                grid-column: 3;
            }

            .home-article {
                grid-row: span 2;
                .card-img {
                    aspect-ratio: 4/3;
                }
            }
        }
    }
}
