#search-input-group{
    height: 4rem;

    .input-group-text{
        display: flex;
    }    
    .input-group-text, .form-control{
        border: none;
        background: $gray-800;
        font-size: 1.5rem;
    }
}