<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <div class="card-img-container">
                <img src="%IMGSRC%" class="" alt="%IMGALT%">
            </div>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><a href="%LINK%">%TITLE%</a></h5>
                <p class="card-text">%SUMMARY%</p>
                <p class="card-text">
                    <small class="text-muted">
                       <em class="me-3"><i class="fa-light fa-calendar ms-2 me-1"></i> %DATE%</em>
                       <strong class="me-3"><i class="fa-brands fa-github ms-2 me-1"></i> %AUTHOR%</strong>
                    </small>
                    <br>
                    <small class="text-muted">
                        %TAGS%
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>

<em>


</em>