.spacer {
    flex: 1 1 auto;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    background: $gray-700;
}

#main-container {
    padding: 1rem;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    color: $gray-500;
}
#toolbar{
    display: block;
    height: 4rem;
}
